<div class="inner-container">

    <mat-list>
        <mat-list-item>Number:&nbsp;<strong>{{ number }}</strong></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Title:&nbsp;<strong>{{ title }}</strong></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>State:&nbsp;<strong>{{ state }}</strong></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Created at:&nbsp;<strong>{{ created_at }}</strong></mat-list-item>
    </mat-list>
    
    <div *ngFor="let item of requested_reviewers">
        <mat-card class="card-container">
            <mat-card-header>
                <img mat-card-avatar src="{{item.avatar_url}}" alt="{{item.avatar_url}}" />
                <mat-card-title>{{item.login}}</mat-card-title>
                <mat-card-subtitle>{{item.type}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p> Url: <a target="_blank" href="{{item.html_url}}">{{item.html_url}}</a> </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>