.mat-column-title {
    min-width: 700px !important;
}

.mat-column-state {
    display: flex;
    justify-content: flex-end;
}

.mat-column-action {
    display: flex;
    justify-content: flex-end;
}